<!DOCTYPE html>
<html lang="ru">
<head>
    <title>Медовый Папа</title>
</head>
<body>
    <%- include('blocks/header') -%>
    <%- include('blocks/upward') -%>
    
    <%- include('blocks/footer') -%>
</body>
</html>