<!DOCTYPE html>
<html lang="ru">
<head>
    <title>Медовый Папа</title>
    <!-- <link rel="stylesheet" href="/styles/coop.css" type="text/css"> -->
</head>
<body>
    <%- include('blocks/header') -%>
    <%- include('blocks/upward') -%>
    <!-- <div class="iframe"><iframe src="https://drive.google.com/file/d/1Ha543GwQiK8fBFdRXiUXUtDshyHAWbCn/preview" width="760" height="890" allow="autoplay"></iframe></div> -->
    <%- include('blocks/footer') -%>
</body>
</html>