<!DOCTYPE html>
<html lang="ru">
<head>
    <title>Медовый Папа</title>
    <link rel="stylesheet" href="/styles/coop.css" type="text/css">
</head>
<body>
    <%- include('blocks/header') -%>
    <%- include('blocks/upward') -%>
    <div class="iframe"><iframe src="https://docs.google.com/document/d/1HNrNrcioj50nilueeEj4CcdH8iGi4e04rp9EQ44Mmts/preview" width="760" height="850" allow="autoplay"></iframe></div> 
    <%- include('blocks/footer') -%>
</body>
</html>