<!DOCTYPE html>
<html lang="ru">
<head>
    <%- include('blocks/standartMeta') -%>
</head>
<body>
    <%- include('blocks/header') -%>
    <%- include('blocks/upward') -%>
    <%- include('blocks/footer') -%>
</body>
</html>