<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="keywords" content="
        медовыйпапа
        медовый папа
        honey
        honey father 
        сахар
        мёд
        Медовый
        мед
        натуральный 
        свежий
        новый 
        качественный 
        хороший 
        вкусный 
        дешевый 
        мытищи 
        лучший 
        вкусный
        приятный
        подарок
        сладость
        детям
        взрослым ">
    <title>Медовый Папа</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/header.css" type="text/css">
    <link rel="stylesheet" href="/style.css" type="text/css">
    <link rel="stylesheet" href="/footer.css" type="text/css">
    <link rel="icon" href="/logo.png" type="image/x-icon">
</head>
<body>
    <%- include('blocks/header') -%>
    <div class = "upward" onclick="scrollToTop()"></div>
    <div class = "slider-container">
        <div class="slider">
            <ul>
                <li>
                    <img src= "paseka.png">
                </li>
                <li>
                    <img src= "bee.png">
                </li>
            </ul>
        </div>
        <div class="button-container">
            <button class="button" onclick="changeSlide(0)"><strong>01</strong><p class="slider-text1"><strong>Текст</strong></p></button>
            <button class="button" onclick="changeSlide(1)"><strong>02</strong><p class="slider-text2"><strong>Текст</strong></p></button>
        </div> 
    </div>
    <div class="text-in-slider">

    </div>
    <div class="button-shop">
        <a href="#">Перейти к товарам</a>
    </div>
    <div class="container">
        <div class="block">
            <img src="/photo1.png" class="position1" alt="">
            <img src="/photo1.png" class="position2"alt="">
        </div>
        <div class="block block1">
            <div class="block-main">
                <div>
                    <img src="/honey.png" class="about-img" alt="">
                </div>
                <h2>Добро пожаловать на наш сайт!</h2>
                <h1>О нашем <strong>производстве</strong></h1>
                <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don’t look even.</p>
                <a href="#" class="more">
                    <p class="more-text">Ещё</p> 
                </a>
                <div><img src="/podpis.png" class="about-img" alt=""></div>
            </div>
        </div>
    </div>
    <div class="container1">
        <div class="block">
            <h1>Наши видео-, фото- материалы</h1>
            <p>There are many variations of passages of Lorem Ipsum available, 
                but the majority have suffered alteration in some form, by injected humour, 
                or randomised words which don’t look even.</p>
                <a href="#social" class="more">
                    <p class="more-text">Ещё</p> 
                </a>
        </div>
        <div class="block block1">
            <a href="#win3"><img src="/logo.png" width="150" height="150" alt="" /></a>
            <a href="#x" class="overlay" id="win3"></a>
            <div class="popup">
                <h2>Работа пчёл</h2>
                <iframe width="560" height="315" src="https://disk.yandex.ru/d/0_ydAuub7clBRw/2018-08-12%2013-32-31.MP4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <a class="close" title="Закрыть" href="#close"></a>
            </div>
        </div>
    </div>
    <div class="container1">
        <div class="block">
            <h2>Хиты продаж</h2>
            <h1>Наша <strong>продукция</strong></h1>
            <p>There are many variations of passages of Lorem Ipsum available, 
                but the majority have suffered alteration in some form, by injected humour, 
                or randomised words which don’t look even.</p>
        </div>
    </div>
    <div class="slider3-wrapper">
        <div class="slider3-block">
            <button class="btn_s3" id = "prev_s3">&#10094;</button>
            <div class="slider3">
                <div class="slider3-line">
                    <div class = "slide_s3">
                        <h1>Заголовок1</h1>
                        <p>Боже я так устал пожалуйста дай мне повеситься</p>
                    </div >
                    <div class = "slide_s3">
                        <h1>Заголовок2</h1>
                        <p>Боже я так устал пожалуйста дай мне повеситься</p>
                    </div>
                    <div class = "slide_s3">
                        <h1>Заголовок3</h1>
                        <p>Боже я так устал пожалуйста дай мне повеситься</p>
                    </div>
                </div>
            </div>
            <button class="btn_s3" id = "next_s3">&#10095;</button>
        </div>
        <div class="controls-s3">
            <a class = "dot_s3" onclick="moveToSlide_s3(1)"></a>
            <a class = "dot_s3" onclick="moveToSlide_s3(2)"></a>
            <a class = "dot_s3" onclick="moveToSlide_s3(3)"></a>
        </div>
    </div>
    <div class="parent">
        <div class="div1"> <!--Левый блок-->
            <h2>Посмотри наши</h2>
            <h1>Новые товары в магазине</h1>
        </div>
        <div class="div2"> </div> <!--Левый верхний квадрат-->
        <div class="div3"> <!--Правый верхний квадрат-->
            <h2>Текст</h2>
            <h1>Текст</h1>
            <p>Очень-очень-очень много прям много текста</p>
        </div>
        <div class="div4"> <!--Левый нижний квадрат-->
            <h2>Текст</h2>
            <h1>Текст</h1>
            <p>Очень-очень-очень много прям много текста</p>
        </div>
        <div class="div5"> </div> <!--Правый нижний квадрат-->
        <div class="div6"> <!--Правый блок-->
            <h2>Текст</h2>
            <h1>Текст</h1>
            <p>Очень-очень-очень много прям много текста</p>
        </div>
        </div>
    <div class="container1">
        <div class="block">
            <h2>Отзывы</h2>
            <h1>От наших <strong>покупателей</strong></h1>
        </div>
    </div>
    <div class="slider2-wrapper">
        <div class="slider2-block">
            <button class="btn_s2" id = "prev_s2">&#10094;</button>
            <div class="slider2">
                <div class="slider2-line">
                    <div class = "slide_s2">
                        <h1>Заголовок1</h1>
                        <p>Боже я так устал пожалуйста дай мне повеситься</p>
                    </div >
                    <div class = "slide_s2">
                        <h1>Заголовок2</h1>
                        <p>Боже я так устал пожалуйста дай мне повеситься</p>
                    </div>
                    <div class = "slide_s2">
                        <h1>Заголовок3</h1>
                        <p>Боже я так устал пожалуйста дай мне повеситься</p>
                    </div>
                    <div class = "slide_s2">
                        <h1>Заголовок4</h1>
                        <p>Боже я так устал пожалуйста дай мне повеситься</p>
                    </div>
                    <div class = "slide_s2">
                        <h1>Заголовок5</h1>
                        <p>Боже я так устал пожалуйста дай мне повеситься</p>
                    </div>
                </div>
            </div>
            <button class="btn_s2" id = "next_s2">&#10095;</button>
        </div>
        <div class="controls-s2">
            <a class = "dot_s2" onclick="moveToSlide_s2(1)"></a>
            <a class = "dot_s2" onclick="moveToSlide_s2(2)"></a>
            <a class = "dot_s2" onclick="moveToSlide_s2(3)"></a>
            <a class = "dot_s2" onclick="moveToSlide_s2(4)"></a>
            <a class = "dot_s2" onclick="moveToSlide_s2(5)"></a>
        </div>
    </div>
<script src="/scripts/upward.js"></script>
<script src="/scripts/search.js"></script>
<script src="/scripts/sliderMain.js"></script>
<script src="/scripts/slider2.js"></script>
<script src="/scripts/slider3.js"></script>
<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
<%- include('blocks/footer') -%>
</body>
</html>