<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Добавить и удалить кнопку</title>
</head>
<body>

    <div class="container">
        <button onclick="sendRequest('add')">Добавить</button>
        <button onclick="sendRequest('delete')">Удалить</button>
    </div>
    
    <script>
        function sendRequest(action) {
            axios.post(`http://localhost:3000/${action}`)
        }
    </script>
</body>
</html>
