<link rel="stylesheet" type="text/css" href="/styles/footer.css">
<footer class="footer">
    <div class="container-footer">
        <div class="row">
            <div class="footer-col">
                <h4>компания</h4>
                <ul>
                    <li><a href="#">о нас</a></li>
                    <li><a href="#">блог</a></li>
                    <li><a href="/:role/terms">Правила использования</a></li>
                    <li><a href="/:role/coop">Условия сотрудничества</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>поддержка</h4>
                <ul>
                    <li><a href="#">FAQ</a></li>
                    <li><a href="#">Политика возврата</a></li>
                    <li><a href="#">Статус заказа</a></li>
                    <li><a href="#">Конфиденциальность</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>контакты</h4>
                <ul>
                    <li><a href="#">Время работы</a></li>
                    <li><a href="#">Тел: +7</a></li>
                    <li><a href="#">Почта</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4 id="social">социальные сети</h4>
                <div class="social-links">
                    <a href="https://www.facebook.com/andrey.churilov.7?mibextid=9R9pXO" target="_blank"><i class="fab fa-facebook-f"></i></a>
                    <a href="https://www.instagram.com/medoviy_papa?igsh=MWQ0bTIwaHJ1N2ljZg==" target="_blank"><i class="fab fa-instagram"></i></a>
                    <a href="https://t.me/medoviypapa" target="_blank"><i class="fab fa-telegram"></i></a>
                </div>
            </div>
        </div>
    </div>
</footer> 