<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="keywords" content="
        медовыйпапа
        медовый папа
        honey
        honey father 
        сахар
        мёд
        Медовый
        мед
        натуральный 
        свежий
        новый 
        качественный    
        хороший 
        вкусный 
        дешевый 
        мытищи 
        лучший 
        вкусный
        приятный
        подарок
        сладость
        детям
        взрослым ">
<link rel="icon" href="/pictures/logo.png" type="image/x-icon">
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="/styles/header.css">
<header>
    <a href="/" class="logo">Медовый Папа</a>
    <div class="group">
        <ul class="navigation">
            <li class="vertical"><a href="/" class="trans-none1">Главная</a></li>
            <li class="vertical"><a id="productsLink" href="#" class="trans-none1">Товары</a></li>
            <li class="vertical login active"><a href="#win1" class="trans-none1">Войти</a></li>
            <a href="#x" class="overlay1" id="win1"></a>
            <div class="popup1">
                <div id="container-reg" class="container-reg">
                    <div class="tabs-reg" id="tabs-reg">
                        <div id="btn-reg"></div>
                        <button type="button" class="toggle-btn-reg" onclick="login()">Войти</button>
                        <button type="button" class="toggle-btn-reg1" onclick="registration()">Регистрация</button>
                    </div>

                
                    <form method="post" action="/login" id="login-reg" class="form-reg ">
                        <input type="text" id="usernameLogin" name="username" class="input-filed-reg" autocomplete="off" placeholder="Логин" required >
                        <input type="password" id="passwordLogin" name="password" autocomplete="off" class="input-filed-reg" placeholder="Пароль" required >
                        <div class = "errorsLogin">
                        </div>
                        <input type="checkbox" class="check-box-reg c3 password-control" id="checkboxs" onclick="return show_hide_password(this);">
                        <button type="button" class="b-reg" onclick="forgot()">Забыли пароль?</button>
                        <input type="checkbox" class="check-box-reg c1">
                        <button type="submit" class="submit-btn-reg">Войти</button>
                    </form>
                
                    <form method="post" action = "/reg" id="register-reg" class="form-reg scroll">
                        <input type="text" id="usernameReg" name="username" class="input-filed-reg" autocomplete="off" placeholder="Логин" required >
                        <input type="email" id = "emailReg" class="input-filed-reg" autocomplete="off" placeholder="Почта">
                        <input type="password" id="passwordReg" name="password" autocomplete="off" class="input-filed-reg" placeholder="Пароль" required >
                        <input type="password" id="passwordRegCheck" name="password" autocomplete="off" class="input-filed-reg" placeholder="Повторить пароль" required >
                        <div class = "errorsReg"></div>
                        <input type="checkbox" class="check-box-reg c3 password-control" id="checkboxss" onclick="return show_hide_password_req(this);">
                        <input type="checkbox" class="check-box-reg c2">
                        <button type="submit" class="submit-btn-reg">Зарегистрироваться</button>
                    </form>

                    <form id="forgot-password" class="form-reg top">
                        <h2 class="form-reg-h2">Забыли пароль?</h2>
                        <p class="form-reg-p">Пожалуйста, введите адрес электронной почты ниже для получения информации о смене пароля</p>
                        <input type="email" class="input-filed-reg" autocomplete="off" placeholder="Почта">
                        <button type="button" class="b-reg1" onclick="back()">Вернуться к авторизации</button>
                        <button type="submit" class="submit-btn-reg" onclick="codeforgot()">Отправить</button>
                    </form>

                    <form id="code-forgot" class="form-reg top">
                        <h2 class="form-reg-h2">Введите код</h2>
                        <p class="form-reg-p">На Вашу почту пришёл код из 6 цифр. Введите его в поле ниже</p>
                        <input type="number" class="input-filed-reg" autocomplete="off" placeholder="Код">
                        <div class="codeTime"><p>Код будет действителен ...</p></div>
                        <p class="wrong">Код введён неверно</p>
                        <button type="button" class="b-reg1">Отправить код повторно</button>
                        <button type="button" class="b-reg1" onclick="back()">Вернуться к авторизации</button>
                        <button type="submit" class="submit-btn-reg">Отправить</button>
                    </form>

                    <form method="post" action = "/reg_code_check" id="code-reg" class="form-reg top">
                        <h2 class="form-reg-h2">Введите код</h2>
                        <p class="form-reg-p">На Вашу почту пришёл код из 6 цифр. Введите его в поле ниже</p>
                        <input type="number" id = "regCode" class="input-filed-reg" autocomplete="off" placeholder="Код">
                        <button type="button" class="b-reg1">Не пришёл код?</button>
                        <button type="button" class="b-reg1" onclick="back()">Вернуться к авторизации</button>
                        <button type="submit" class="submit-btn-reg">Отправить</button>
                    </form>
                </div>
                <div class="close2"><a class="close1" href="#close">X</a></div>
            </div> 
            <li class="profile"><a id="profileLink" href="#" class="profile-h1 trans-none"><ion-icon name="person-outline" class="profile-h"></ion-icon></a></li>
            <li><a href="#" class="trans-none compare-h"><ion-icon name="git-compare-outline" class="icons-nav"></ion-icon></a></li>
            <li><a href="#" class="trans-none favorite-h"><ion-icon name="heart-outline" class="icons-nav"></ion-icon></a></li>
            <li><a href="#" class="trans-none cart-h"><ion-icon name="cart-outline" class="icons-nav"></ion-icon></a></li>
        </ul>
        <div class="search">
            <span class="icon">
                <ion-icon name="search-outline" id = "searchBtn" class="searchBtn"></ion-icon>
                <ion-icon name="close-circle-outline" class="closeBtn"></ion-icon>
            </span>
        </div>
        <ion-icon name="menu-outline" id = "menuToggle" class="menuToggle"></ion-icon>
    </div>
    <div class="searchBox">
        <input type="text" placeholder="Ищи тут...">
    </div>
    <p class="complete_auth" >Успешная авторизация</p>
    <p class="complete_reg" >Успешная регистрация</p>   
    <script src="/scripts/search.js"></script>
    <script src="/scripts/header.js"></script>
    <script src="/scripts/login.js"></script>
    <script src="/scripts/reg.js"></script>
    <script src="/scripts/regCode.js"></script>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</header>