.con-block-hv {
    visibility: hidden;
    width: 90%;
    position: absolute;
}

.con-block-hv.active {
    visibility: visible;
}

.con-block-hv h1{
    font-size: 25px;
}

.container4 {
    margin-top: 150px;
    display: inline-block;
    width: 100%;
    height: 1000px;
}

.con4 {
    position: relative;
    box-shadow: 0px 0px 20px rgb(192, 192, 192);
    border-radius: 5px;
    width: 65%;
    margin-right: 5%;
    height: 100%;
    float: right;
    display: flex;
    flex-direction: column;
}
.con-block-all {
    width: 92%;
    height: 92%;
    margin: auto;
}

.a_menu {
    display: inline-block;
    box-shadow: 0px 0px 20px rgb(192, 192, 192);
    border-radius: 5px;
    width: 18%;
    margin-left: 7%;
}

.buttons-menu {
    margin-left: 15%;
    display: block;
}

.buttons-menu a {
    text-decoration: none;
    color: black;
    cursor: pointer;
    display: inline-block;
    margin-bottom: 5px;
}

.display {
    display: inline-block;
    margin-right: 10px;
}

.profile1 .p {
    display: inline-block;
}

.text-a {
    margin: 20px auto;
    color: grey;
}

.margin {
    margin-top: 40px;
}
.margin-bottom {
    margin-bottom: 40px;
}

.category-info {
    margin: 0 auto;
    width: 95%; 
    height: 80px;
    border: 1px solid black;
    justify-content: center;
}

.bin {
    font-size: 2.5em;
    float: right;
} 

.category-strong {
    display: inline-block;
    width: 300px;
    text-align: center;
}

.name {
    display: inline-block;
    width: 200px;
    text-align: center;
}

.category-info img {
    display: inline-block;
    width: 7%;
    border: 1px solid black;
    margin-left: 2%;
    margin-top: 6px;
}



.personal-data {
    width: 100%;
    height: 200px;
    box-shadow: 0px 0px 20px rgb(192, 192, 192);
    border-radius: 10px;
    margin: 30px auto;
}

.image-ul::after{
    content : "x";
}

/* Базовые стили слоя затемнения и модального окна  */
.overlay-goods {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10;
    display: none;
/* фон затемнения */
    background-color: rgba(0, 0, 0, 0.65);
    position: fixed; /* фиксированное поцизионирование */
    cursor: default; /* тип курсара */
}
/* активируем слой затемнения */
.overlay-goods:target {
    display: block;
}
/* стили модального окна */
.block-goods-open {
    top: -100%;
    right: 0;
    left: 50%;
    font-size: 14px;
    z-index: 20;
    margin: 0;

    width: 800px;
    height: 780px;
/* фиксированное позиционирование, окно стабильно при прокрутке */
    position: fixed;
    padding: 15px;
/* внешняя тень */

    -webkit-transform: translate(-50%, -500%);
    -ms-transform: translate(-50%, -500%);
    -o-transform: translate(-50%, -500%);
    transform: translate(-50%, -500%);
    -webkit-transition: -webkit-transform 0.6s ease-out;
    -moz-transition: -moz-transform 0.6s ease-out;
    -o-transition: -o-transform 0.6s ease-out;
    transition: transform 0.6s ease-out;
}
/* активируем модальный блок */
.overlay-goods:target+.block-goods-open {
    -webkit-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    top: 5%;
}

/* параграфы */
.close-block1 {
    font-weight: bold;
    color: rgb(128, 5, 5);
    text-decoration: none;
    font-size: 20px;
    margin: 0 auto;
    text-align: center;
}

.close-block2 {
    top: 12px;
    right: 2px;
    height: 30px;
    width: 30px;
    position: absolute;
    text-align: center;
}

.block-goods-open p {
    margin: 0; padding: 5px 0
}

.container-goods {
    width: 800px;
    height: 780px;
    position: relative;
    margin: 6% auto;
    background: #fff;
    padding: 5px;
    overflow: hidden;
    transition: 0.5s;
}

.container-goods h1 {
    margin-left: 40px;
    margin-top: 40px;
}

.form-goods {
    margin-left: 40px;
    margin-top: 30px;
    position: relative;
    height: 90%; 
    width: 90%; 
    display: flex;
    flex-direction: column;
}

.form-goods.scroll2 {
    overflow-y: scroll !important; 
    max-height: 83%;
    padding-right: 10px;
}

.scroll2::-webkit-scrollbar {
    width: 2px;               /* ширина scrollbar */
}

.scroll2::-webkit-scrollbar-track {
    background: rgba(216, 216, 216, 0);        /* цвет дорожки */
}

.scroll2::-webkit-scrollbar-thumb {
    background-color: rgb(163, 163, 163);    /* цвет плашки */
    border-radius: 20px;       /* закругления плашки */
    border: 2px solid rgba(216, 216, 216, 0);  /* padding вокруг плашки */
}

.necessarily::after{
    content: '*';
    color: red !important;
}

.input-pa {
    margin-top: 8px;
    margin-bottom: 10px; 
}

.input-pa-label {
    display: inline-block;
    overflow: visible;
}

.submit-pa {
    margin-top: 20px;
    margin-left: 10px;
    width: 100px;
    height: 20px;
}

textarea {
    resize: none; /* Запрещаем изменять размер */
} 